<launch>

	<node name="usb_cam" pkg="usb_cam" type="usb_cam_node" respawn="true">
		<param name="video_device" value="/dev/video0" />
		<param name="image_height" value="240" />
		<param name="image_width" value="640" />
		<param name="framerate" value="5" />
		<param name="pixel_format" value="yuyv" />
	</node>

	<node name="obstacles_recognition" pkg="obstacles_recognition" type="obstacles_recognition" respawn="true" />

</launch>
